<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   
</body>

<script>
    (function () {
        console.log("doc ready");
        let v_00_id = document.getElementById('00_id');
        v_00_id.addEventListener('change', (event) => {

            // select
            document.getElementById("id_cars").style.display = "none";
            document.getElementById("id_cars").previousElementSibling.style.display = "none";
            // radio
            document.getElementsByName("id_gender").forEach(function (n) {
                n.style.display = "none";
                n.nextElementSibling.style.display = "none";
            });
            // checkbox
            document.getElementById("03_id").style.display = "none";
            document.getElementById("03_id").nextElementSibling.style.display = "none";
            // text 
            document.getElementById("00_id").style.display = "none";
            document.getElementById("00_id").previousElementSibling.style.display = "none";
            // colonna vuota
            let col = document.getElementById("00_id").parentNode;
            let children = col.childNodes;
            let removeCol = true;
            [].forEach.call(children, function (child) {
                if (child.nodeName !== '#text' && (child.style === undefined || child.style.display !== 'none')) {
                    console.log("child visible");
                    console.log(child);
                    removeCol = false;
                } 
            });
            if (removeCol){
                col.style.display = "none";
            }

        });

    })();
</script>

</html>